<header class="static-header" id="pageHeader">
    <div class="header-content">
        <img src="{{ url_for('static', filename='Logo.png') }}" alt="Logo" class="logo-img">
        <div class="header-text">
            <h1><span class="brand">RepayCheck</span></h1>
            <p><i>Your Loan Repayment Eligibility Checker</i></p>
        </div>
    </div>
    <div class="scrolling-bar">
        <div class="scrolling-text">
            🔔 Empowering Fair & Transparent Lending — Powered by AI & Data 📊 | Secure • Smart • Responsible 💼
        </div>
    </div>
</header>