<html>
<head>
    <title>{% block title %}User{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="body-container">
    {% include 'header.html' %}

    <button id="toggleSidebar" class="collapse-btn">☰</button>

    <div class="admin-container">
        <div class="admin-sidebar" id="sidebar">
            <h2 class="sidebar-title">Menu</h2>
            <div class="admin-links">
                <a href="{{ url_for('inference.checker') }}">Loan Repayment Eligibility</a>
                <a href="{{ url_for('inference.credit_score_checker') }}">Credit Score</a>
                <a href="{{ url_for('inference.contact_us') }}">Contact Us</a>
                <a href="{{ url_for('inference.faq') }}">FAQ</a>
            </div>
            <a href="{{ url_for('index') }}" class="logout-btn">Back to Home Page</a>
        </div>

        <div class="main-content" id="mainContent">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% include 'footer.html' %}
<script src="{{ url_for('static', filename='script.js') }}"></script> 
</body>
</html>
